:root {
  --color-primary: #8BAC3E;
  --color-primary-light: #F0FEEB;
  --color-primary-bg: #F9FFF6;

  --color-secondary: #40A2B1;
  --color-secondary-light: #E6F3F5;

  --color-accent-blue: #405EB6;
  --color-accent-blue-light: #EAEEFA;
  
  --color-accent-pink: #B23F74;
  --color-accent-pink-light: #F9EEF3;
  
  --color-accent-olive: #A4B441;
  --color-accent-olive-light: #F3F7D9;

  --color-foreground: #171717;
  --color-grey: #F2F2F2;
  --color-grey-light: #E5E5E5;
}

.bg-primary { background-color: var(--color-primary); }
.bg-primary-light { background-color: var(--color-primary-light); }
.bg-primary-bg { background-color: var(--color-primary-bg); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-secondary-light { background-color: var(--color-secondary-light); }
.bg-accent-blue { background-color: var(--color-accent-blue); }
.bg-accent-blue-light { background-color: var(--color-accent-blue-light); }
.bg-accent-pink { background-color: var(--color-accent-pink); }
.bg-accent-pink-light { background-color: var(--color-accent-pink-light); }
.bg-accent-olive { background-color: var(--color-accent-olive); }
.bg-accent-olive-light { background-color: var(--color-accent-olive-light); }

.bg-footer {
  background-color: var(--color-primary-bg);  
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent-blue {
  color: var(--color-accent-blue);
}

.text-accent-pink {
  color: var(--color-accent-pink);
}

.text-accent-olive {
  color: var(--color-accent-olive);
} 