@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors.css";
@import "./components.css";

body {
  background: #fff;
  color: var(--color-foreground);
  font-family: var(--font-rubik), sans-serif;
} 